
body{
    margin:0;
    font-family: Tahoma, sans-serif;
    background-color:rgb(138, 189, 206);
    background-position: center;
    background-size: cover;
}
#pr{
  position: absolute; top: -70px; left:100px;
  font-weight: bold;
}
td{
    border: 1px solid black;
}
#bar1{
    position: absolute; top: 1px; right:3px;border-radius: 3px;
    background: powderblue;
    padding: 5px;
}
#bar2{
    position: absolute; top: 70px; right:615px;
    background-color: lightseagreen;
    margin:0px;
    padding: 5px;
    border-radius: 13px;
}
#bar3{
    position: absolute; top: 140px; right:610px;
    scroll-behavior: smooth;
    background-color:rgb(138, 189, 206);
    width: 1028px;
    height: 500px;
    overflow: hidden;
    border-color: lightblue;
    border-radius: 15px;
    border:6;
}
#bar4{
    text-decoration: none;
    color: white;
    font-size: 50px;
    padding: 50px;
    display:block;
  }
#bar6{
  position: absolute; top: 643px; right:610px;
  width: 1028px;
  height: 350px;
  border-radius: 15px;
  background-color:aquamarine;
  overflow: auto;
  scroll-behavior: smooth;
}
  ul {
    display: inline;
    margin: -45;
    padding: 30;
  }
  ul li {display: inline-block;padding: 20px;}
  ul li:hover {background:lightskyblue;}
  ul li:hover ul {display: block;}
  ul li ul {
    position: absolute;
    width: 300px;
    display: none;
    z-index: 1;
    
  }
  ul li ul li { 
    background: lightgrey; 
    display: block; 
    
  }
  ul li ul li a {display:block !important;} 
  ul li ul li:hover {background: aquamarine;}

  #bar5{
    position: absolute; top: 70px; right:9px;
    margin:0px;
    padding: 5px;
    border-color: aqua;
    border-radius: 15px;
    background-color: lightseagreen;
  }
  
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .active,.button1:hover {background-color: aqua; color: white;    border-radius: 8px; border-width: 15px;font-size: 10px;} 
  .active,.button2:hover {background-color: aqua;border-radius: 8px;font-size: 10px;} 
  .active,.button3:hover {background-color: aqua;border-radius: 8px;font-size: 10px;} 
  .active,.button4:hover {background-color: aqua;border-radius: 8px;font-size: 10px;} 
  .active,.button6:hover {background-color: aqua;border-radius: 8px;font-size: 10px;} 
  .active,.button8:hover {background-color: aqua;border-radius: 8px;font-size: 10px;}  
  .active,.button10:hover {background-color: aqua;border-radius: 8px;font-size: 10px;} 
  .active,.button12:hover {background-color: aqua;border-radius: 8px;font-size: 10px;}

 


#section1{height: 500px; background-color: aqua;}
#section2{height: 500px; background-color: aqua;}
#section3{height: 500px; background-color: aqua;}
#section4{height: 500px; background-color: aqua;}
#section5{height: 500px; background-color: aqua;}
#section6{height: 500px; background-color: aqua;}
#section7{height: 500px; background-color: aqua;}
 
.button12:hover {background-color: aqua;border-radius: 8px;} 
.button13:hover {background-color: greenyellow;border-radius: 8px;} 
.button14:hover {background-color: orange;border-radius: 8px;} 
.button16:hover {background-color: blue;border-radius: 8px;} 
.button11:hover {background-color: rgb(9, 255, 0);border-radius: 8px;} 

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid lightseagreen;
    border-radius: 4px;}
    
    * {
      box-sizing: border-box;
    }
    .zoom {
      padding: 50px;
      
      transition: transform .2s;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
    
    * {
      box-sizing: border-box;
    }
    
    .zoom {
      float:  inline-start;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  




    